# Cấu hình đường dẫn thư viện VieNeu-TTS (Để clone giọng nói tiếng Việt)
# Ví dụ: D:\AI\Rikkei_Edu_agent\VieNeu-TTS
VIENEU_TTS_PATH=

# Cấu hình tùy chọn cho ffmpeg & ffprobe nếu hệ thống không tự động tìm thấy trên PATH
# FFMPEG_PATH=C:\Program Files\ffmpeg\bin\ffmpeg.exe
# FFPROBE_PATH=C:\Program Files\ffmpeg\bin\ffprobe.exe

# Cấu hình âm thanh & tốc độ đọc giọng thuyết minh
SPEED_FACTOR=1.12
TARGET_LUFS=-11.0
